.sliderImg img {
  -webkit-user-drag: none;
  width: 100vw;
  height: 45vh;
  object-fit: cover;
  cursor: grab;
}

.sliderImg img:active {
  cursor: grabbing;
}

@media screen and (max-width: 767px) {
  .sliderImg img {
    height: 25vh;
  }
}
